@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Lato:wght@700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abhaya Libre', serif;
}
a{
  text-decoration: none;
  color: white;
}
li{
  list-style: none;
}
.not-found{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(68,68,68);
  min-height: 80vh;
  font-weight: 700;
  font-size: 5rem;
  
}

/* // admin  */

.link-active{
  color: aqua;
}
.link-inactive{
  color: rgb(97,97,97);
}